<div>
  <div class="table">
    <button nz-button nzType="primary" (click)="clickSave()" style="float: right;">保存</button>
    <button nz-button nzType="default" (click)="clickBack()" style="float: right; margin-right: 10px;">返回</button>
    <!-- TODO 按钮宽度会改变，可以考虑把文字移出按钮 -->
    <nz-switch [ngModel]="false" nzCheckedChildren="已收藏" nzUnCheckedChildren="收 藏" 
      [nzControl]="true" (click)="clickSwitch()" [nzLoading]="switchLoading" style="float: right; margin-right: 10px; width: 80px;"></nz-switch>
    <button nzTooltipTitle="评论列表" nzTooltipPlacement="left" nz-button nz-tooltip class="comButton" nzType="default" (click)="open()" nzShape="circle" nzSize="large">
      <i nz-icon nzType="comment"></i>
    </button>
    <app-power-board></app-power-board>
    <nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="评论列表" nzWidth="400px" (nzOnClose)="close()">
      <app-comments></app-comments>
    </nz-drawer>
    <table>
      <!-- <tr>
        <td>文档名称：</td>
        <td><input nz-input placeholder="Basic usage" ngModel="value" /></td>
      </tr> -->
      <tr>
        <td>所属：</td>
        <td>
          <nz-cascader [nzOptions]="nzBelongOptions" [(ngModel)]="values" (ngModelChange)="onChanges($event)"></nz-cascader>
        </td>
      </tr>
      <tr>
        <td>权限设置：</td>
        <td>
          <nz-select ngModel="none">
            <nz-option nzValue="none" nzLabel="不可见"></nz-option>
            <nz-option nzValue="readonly" nzLabel="只读"></nz-option>
            <nz-option nzValue="readwrite" nzLabel="可编辑"></nz-option>
          </nz-select>
        </td>
      </tr>
    </table>
  </div>
  <div class="editor">
    <textarea id="tiny"></textarea>
  </div>
</div>


