.editor {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

[nz-input] {
  font-size: 16px;
}

[nz-select] {
  font-size: 16px;
}

[nz-input] {
  font-size: 16px;
.table {
  height: 20px;
}

[nz-select] {
  font-size: 16px;
}

.saveButton {
  position: fixed;
  left: 30px;
  top: 90px;
  box-shadow: -5px 5px 3px #000;
}

.backButton {
  position: fixed;
  left: 30px;
  top: 130px;
  box-shadow: -5px 5px 3px #000;
}

.shareButton {
  position: absolute;
  right: 30px;
  top: 90px;
  // box-shadow: -5px 5px 3px #000;
}

.starButton {
  position: absolute;
  right: 25px;
  top: 130px;
  // box-shadow: -5px 5px 3px #000;
}
}
