<div>
  <div class="table">
    <button nz-button nzType="primary" (click)="clickSave()" class="saveButton" *ngIf="!once_blocked">保存</button>
    <button nz-button nzType="primary" class="saveButton" *ngIf="once_blocked"
        nz-popconfirm
        nzPopconfirmTitle="您的编辑与其他用户保存的编辑存在冲突，保存将会发生覆盖，确认保存？"
        (nzOnConfirm)="clickSave()"
        nzPopconfirmPlacement="right">保存</button>
    
    <button nz-button nzType="default" (click)="clickBack()" class="backButton">返回</button>
    <!-- <div class="lock_info" style="width: 60px;" *ngIf="current_lock_status===false && !once_blocked"
         nz-popover nzPopoverContent="其他用户正在编辑中，文档仅可浏览" nzPopoverPlacement="right">
      <nz-alert nzType="error" nzMessage="不可编辑"></nz-alert>
    </div>
    <div class="permit_info" style="width: 60px;" *ngIf="current_lock_status && !once_blocked"
         nz-popover nzPopoverContent="您拥有编辑权限，可编辑本文档" nzPopoverPlacement="right">
      <nz-alert nzType="success" nzMessage="编辑权限"></nz-alert>
    </div>
    <div class="conflict_info" style="width: 60px;" *ngIf="once_blocked"
         nz-popover nzPopoverContent="其他用户进行过编辑，请刷新页面更新" nzPopoverPlacement="right">
      <nz-alert nzType="warning" nzMessage="内容冲突"></nz-alert>
    </div> -->

    <button nz-button nzType="primary" (click)="share()" class="shareButton">分享</button>
    <nz-switch [(ngModel)]="isFavored" nzCheckedChildren="已收藏" nzUnCheckedChildren="未收藏" (ngModelChange)="clickSwitch()"
               [nzLoading]="switchLoading" class="starButton"></nz-switch>
  </div>
  <div class="editor">
    <textarea id="tiny"></textarea>
  </div>
</div>

<app-power-board [docId]="docId" [isTeamDoc]="isTeamDoc"></app-power-board>
<app-comments [docid]="docId"></app-comments>

<nz-modal
  [(nzVisible)]="sharingVisible"
  nzTitle="分享"
  (nzOnCancel)="sharingCancel()"
  (nzOnOk)="sharingOk()"
>
  <app-sharing-modal [docId]="docId" #shareModal></app-sharing-modal>
</nz-modal>
