<div class="showinfo">
    <div class="wordinfo">
        <nz-avatar nzIcon="user" [nzShape]="'square'" [nzSize]="45" [nzSrc]="currentuser.avatar"></nz-avatar>
        <p style="margin-top: 5px; margin-bottom: 1em; ">
            <a (click)="showChangeAvatar()">修改头像</a>
        </p>
        <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]=false>
            <tbody>
            <tr *ngFor="let data of basicTable.data">
                <td>{{ data.infoHead }}</td>
                <td>{{ data.infoBody }}</td>
                <td>
                <a (click)="doAction(data)">{{ data.action }}</a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>

    <nz-modal
      [(nzVisible)]="changeAvatarVisible"
      nzTitle="修改头像"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changeAvatar()"
      [nzOkLoading]="isOkLoading"
    >
      <nz-upload
        class="avatar-uploader"
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        nzName="avatar"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChange($event)"
      >
        <ng-container *ngIf="!avatarUrl">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
      </nz-upload>
    </nz-modal>

    <nz-modal
      [(nzVisible)]="changePwdVisible"
      nzTitle="修改密码"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changePwd()"
      [nzOkLoading]="isOkLoading"
    >
      <input nz-input (ngModel)="currentpwd" placeholder="请输入当前密码">
      <input nz-input (ngModel)="newpwd" placeholder="请输入当前密码">
      <input nz-input (ngModel)="confirmpwd" placeholder="请输入当前密码">
    </nz-modal>

    <nz-modal
      [(nzVisible)]="changeMailVisible"
      nzTitle="Modal Title"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changeMail()"
      [nzOkLoading]="isOkLoading"
    >
      <input nz-input (ngModel)="newmail" placeholder="请输入新的邮箱地址">
    </nz-modal>

    <nz-modal
      [(nzVisible)]="changePhoneNoVisible"
      nzTitle="Modal Title"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changePhoneNo()"
      [nzOkLoading]="isOkLoading"
    >
      <input nz-input (ngModel)="newphone" placeholder="请输入新的手机号码">
    </nz-modal>
    
</div>
