<div class="showinfo">
    <div class="wordinfo">
        <nz-table #basicTable [nzData]="listOfData" [nzFrontPagination]=false [nzShowPagination]=false style="box-shadow: -5px 5px 3px #707070; width: 600px;">
            <tbody>
            <tr style="font-size: 15px;">
                <td></td>
                <td style="text-align: center;">
                    <nz-avatar nzIcon="user" [nzShape]="'square'" [nzSize]="55" [nzSrc]="currentuser.avatar" style="margin-top: 10px;"></nz-avatar>
                    <p style="margin-top: 5px; margin-bottom: 1em; ">
                        <a (click)="showChangeAvatar()">修改头像</a>
                    </p>
                </td>
                <td></td>
            </tr>
            <tr *ngFor="let data of basicTable.data" style="font-size: 15px;">
                <td>{{ data.infoHead }}</td>
                <td>{{ data.infoBody }}</td>
                <td>
                <a (click)="doAction(data)">{{ data.action }}</a>
                </td>
            </tr>
            </tbody>
        </nz-table>
    </div>

    <nz-modal
      [(nzVisible)]="changeAvatarVisible"
      nzTitle="修改头像"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changeAvatar()"
      [nzOkLoading]="isOkLoading"
      [nzStyle]="{width: '300px'}"
    >
      <div style="text-align: center;">
        <nz-upload
        class="avatar-uploader"
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        nzName="avatar"
        nzListType="picture-card"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChange($event)"
        style="margin: 0 auto;width: auto"
      >
        <ng-container *ngIf="!avatarUrl">
          <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">Upload</div>
        </ng-container>
        <img *ngIf="avatarUrl" [src]="avatarUrl" style="width: 100%" />
      </nz-upload>
      </div>
    </nz-modal>

    <nz-modal
      [(nzVisible)]="changePwdVisible"
      nzTitle="修改密码"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changePwd()"
      [nzOkLoading]="isOkLoading"
    >
      <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>当前密码</nz-form-label>
          <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="请输入当前密码">
            <input nz-input type="password" formControlName="current_password" placeholder="请输入当前密码" (ngModelChange)="validateConfirmPassword()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>新密码</nz-form-label>
          <nz-form-control [nzSpan]="12" nzDisableAutoTips nzErrorTip="请输入新密码">
            <input nz-input type="password" formControlName="new_password" placeholder="请输入新密码" (ngModelChange)="validateConfirmPassword()" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="7" nzRequired>确认新密码</nz-form-label>
          <nz-form-control [nzSpan]="12" nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">
            <input nz-input type="password" formControlName="confirm" placeholder="请确认新密码" />
            <ng-template #passwordErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                请再输入一次新密码
              </ng-container>
              <ng-container *ngIf="control.hasError('confirm')">
                密码不匹配，请核对
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
      </form>
      <!-- <input nz-input [(ngModel)]="currentpwd" placeholder="请输入当前密码" style="margin: 5px auto;">
      <input nz-input [(ngModel)]="newpwd" placeholder="请输入新密码密码" style="margin: 5px auto;">
      <input nz-input [(ngModel)]="confirmpwd" placeholder="请确认新密码" style="margin: 5px auto;"> -->
    </nz-modal>

    <nz-modal
      [(nzVisible)]="changeMailVisible"
      nzTitle="Modal Title"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changeMail()"
      [nzOkLoading]="isOkLoading"
    >
      <input nz-input [(ngModel)]="newmail" placeholder="请输入新的邮箱地址">
    </nz-modal>

    <nz-modal
      [(nzVisible)]="changePhoneNoVisible"
      nzTitle="Modal Title"
      (nzOnCancel)="handleCancel()"
      (nzOnOk)="changePhoneNo()"
      [nzOkLoading]="isOkLoading"
    >
      <input nz-input [(ngModel)]="newphone" placeholder="请输入新的手机号码">
    </nz-modal>

</div>
