.showinfo {
    margin: 80px auto;
    text-align: center;
}

.wordinfo {
    display: inline-block;
}

a {
    text-decoration: underline;
}

table {
    box-shadow: -5px 5px 3px #707070;
}

[nz-upload] {
  margin: 0 auto;
}

#nz-upload {
  margin: 0 auto;
}
