<button nzTooltipTitle="评论列表" nzTooltipPlacement="left"
        nz-button nz-tooltip class="comButton" nzType="default" (click)="open()" nzShape="circle" nzSize="large">
  <i nz-icon nzType="comment"></i>
</button>

<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="评论列表" nzWidth="400px"
           (nzOnClose)="close()">
  <nz-list [nzDataSource]="data" [nzRenderItem]="item" [nzItemLayout]="'horizontal'">
    <ng-template #item let-item>
      <nz-comment [nzAuthor]="item.creatorname" [nzDatetime]="item.createtime">
        <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="item.creatoravatar" (click)="infoVisible=true"></nz-avatar>
        <nz-comment-content>
          <p>{{ item.content }}</p>
        </nz-comment-content>
        <nz-comment-action><span (click)="deleteComment(item)">删除</span></nz-comment-action>
        <ng-container *ngIf="item.children && item.children.length">
          <!-- BUG 套娃显示有依赖未解决 -->
          <ng-template ngFor let-child [ngForOf]="item.children">
            <!--          <ng-template [ngTemplateOutlet]="commentTemplateRef" [ngTemplateOutletContext]="{ comment: child }"> </ng-template>-->
          </ng-template>
        </ng-container>
      </nz-comment>
    </ng-template>
  </nz-list>
  <nz-comment>
    <nz-avatar nz-comment-avatar nzIcon="user" [nzSrc]="user.avatar"></nz-avatar>
    <nz-comment-content>
      <nz-form-item>
        <textarea [(ngModel)]="inputValue" nz-input rows="4"></textarea>
      </nz-form-item>
      <nz-form-item>
        <button nz-button nzType="primary" [nzLoading]="submitting" [disabled]="!inputValue" (click)="handleSubmit()">
          Add Comment
        </button>
      </nz-form-item>
    </nz-comment-content>
  </nz-comment>
</nz-drawer>

<nz-modal [(nzVisible)]="infoVisible" nzTitle="USERNAME" (nzOnCancel)="infoCancel()" (nzOnOk)="infoOk()">
  <app-info-modal></app-info-modal>
</nz-modal>

