<ul nz-menu nzMode="vertical">

  <div style="height: 20px;"></div>

  <li nz-menu-item nzMatchRouter class="siderItem"><a routerLink="/dashboard/own">我创建的</a></li>
  <li nz-menu-item nzMatchRouter class="siderItem"><a routerLink="/dashboard/favorites">我收藏的</a></li>
  <li nz-menu-item nzMatchRouter class="siderItem"><a routerLink="/dashboard/used">最近使用</a></li>

  <nz-divider></nz-divider>

  <li nz-menu-item nzMatchRouter class="siderItem"><a routerLink="/desktop">我的桌面</a></li>
  <li nz-menu-item nzMatchRouter class="siderItem"><a routerLink="/trash">回收站</a></li>
  <li nz-submenu nzTitle="团队空间" class="siderItem" (mouseenter)="initData()">
    <ul>
      <li nz-menu-item nzMatchRouter>
        <a (click)="newTeam()">
          创建团队
        </a>
      </li>
      <li nz-menu-divider *ngIf="spaceList.length"></li>
      <li nz-menu-item *ngFor="let i of spaceList">
        <a [routerLink]="'/space/' + i.teamid">{{i.teamname}}</a>
      </li>
    </ul>
  </li>

  <nz-divider></nz-divider>

  <li nz-menu-item nzMatchRouter><a routerLink="/feedback" class="siderItem">联系我们</a></li>
</ul>

<div class="addButton">
  <button nzTooltipTitle="新建文档" nzTooltipPlacement="right" nz-button nz-tooltip
          nzType="primary" nzShape="circle" (click)="chooseTemplate()">
      <i nz-icon nzType="file-add" ></i>
  </button>
  <button nzTooltipTitle="新建文件夹" nzTooltipPlacement="top" nz-button nz-tooltip
          nzType="primary" nzShape="circle" (click)="newFolder()">
      <i nz-icon nzType="folder-add"></i>
  </button>
</div>

<nz-modal [(nzVisible)]="createTeamModal" nzTitle="新建团队" (nzOnCancel)="newTeamCancel()"
          [nzOkDisabled]="!teamNameInput" (nzOnOk)="newTeamConfirm()" [nzOkLoading]="modalLoading">
  <div style="text-align: center;">
    团队名：<input nz-input [(ngModel)]="teamNameInput" style="width: 80%;">
  </div>
</nz-modal>
