<div class="docButton" (contextmenu)="createMenu($event, menu)">
  <button nz-button nzType="primary" (click)="navigate()">
    <i nz-icon nzType="file"></i>
    <p class="docName">{{fileName}}</p>
  </button>
</div>


<nz-dropdown-menu #menu="nzDropdownMenu">
  <ul nz-menu *ngIf="!isTrash">
    <li nz-menu-item *ngIf="!isFavored" (click)='favor()'>
      收藏
    </li>
    <li nz-menu-item *ngIf="isFavored" (click)='unFavor()'>
      取消收藏
    </li>
    <li nz-menu-item (click)="renameVisible=true">
      重命名
    </li>
    <li nz-menu-item (click)="moveFile()">
      移动
    </li>
    <li nz-menu-item (click)="infoVisible=true">
      文档信息
    </li>
    <li nz-menu-item (click)="sharingVisible=true">
      分享
    </li>
    <li nz-menu-item style="color: red;" (click)="delete()">删除</li>
  </ul>

  <ul nz-menu *ngIf="isTrash">
    <li nz-menu-item (click)="recovery()">恢复</li>
    <li nz-menu-item style="color: red;" (click)="confirmDelete()">确认删除</li>
  </ul>
</nz-dropdown-menu>

<nz-modal
  [(nzVisible)]="renameVisible"
  nzTitle="重命名"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="rename()"
  [nzOkLoading]="isOkLoading"
>
  <input nz-input placeholder="请输入文档名" [(ngModel)]="newfilename" />
</nz-modal>

<nz-modal
  [(nzVisible)]="sharingVisible"
  nzTitle="分享"
  (nzOnCancel)="sharingCancel()"
  (nzOnOk)="sharingOk()"
>
  <app-sharing-modal [docId]="fileId"></app-sharing-modal>
</nz-modal>

<nz-modal
  [(nzVisible)]="infoVisible"
  nzTitle="文档信息"
  (nzOnCancel)="infoCancel()"
  (nzOnOk)="infoOk()"
>
<div>
  <nz-descriptions nzTitle="文档名" nzColumn="300">
  </nz-descriptions>
  <div class="content-left">
    <p>创建者：username</p>
    <p>创建时间：yyyy-mm-dd</p>
    <p>修改次数：x</p>
    <p>最后修改：yyyy-mm-dd</p>
  </div>
</div>
</nz-modal>

<nz-modal nzTitle="移动文件夹" [(nzVisible)]="modalControls.moveFile"
          (nzOnCancel)="closeModal()" [nzOkLoading]="modalControls.loading"
          (nzOnOk)="moveFileConfirm()">
  移动文件夹
</nz-modal>
