<!-- TODO 样式的设置 -->
<div class="outer">
  <div class="search">
    <nz-input-group nzSize="large">
      <input placeholder="请输入要邀请的用户名" nz-input [(ngModel)]="search_content" (ngModelChange)="search()" [nzAutocomplete]="auto" />
    </nz-input-group>
    <nz-autocomplete #auto>
      <nz-auto-option *ngFor="let o of res_users" [nzLabel]="o.username" [nzValue]="o.userid" (click)='select(o)'>
        {{ o.username }}
      </nz-auto-option>
    </nz-autocomplete>



    <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
      <nz-list-item *ngFor="let item of selected_list; let i of index">
        <nz-list-item-meta
          [(nzAvatar)]="item.avatar"
        >
          <nz-list-item-meta-title>
            <a >{{ item.username }}</a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
       <ul nz-list-item-actions>
        <nz-list-item-action><a (click)="remove(i)">移除</a></nz-list-item-action>
       </ul>
      </nz-list-item>
    </nz-list>
  </div>

  <!-- BUG 无法显示选中项信息 -->
  <!-- TODO 修复显示 -->
  <!-- <div class="selected">
    <div class="userinfo" *ngFor="let item of selected_list; let i of index">
      <div class="avatar">
        <img [(src)]="item.avatar">
      </div>
      <div class="name">
        {{ item.username }}
      </div>
      <div class="control">
        <a (click)="remove(i)">移除</a>
      </div>
    </div>
  </div> -->

  <!-- ! 临时替代 -->
  <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
    <nz-list-item *ngFor="let item of selected_list; ">
      <nz-list-item-meta
        nzAvatar="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"
        nzDescription=""
      >
        <nz-list-item-meta-title>
          <a href="https://ng.ant.design">{{ item.username }}</a>
        </nz-list-item-meta-title>
      </nz-list-item-meta>
      <ul nz-list-item-actions>
        <nz-list-item-action><a style="text-decoration: underline;">移除</a></nz-list-item-action>
      </ul>
    </nz-list-item>
    <nz-list-empty *ngIf="selected_list.length === 0"></nz-list-empty>
  </nz-list>

  <div class="footer">
    <button nz-button nzType="primary" (click)="invite()" [disabled]="this.selected_list.length===0">邀请</button>
  </div>
</div>