<button nzTooltipTitle="团队设置" nzTooltipPlacement="left" nz-button nz-tooltip class="comButton" nzType="default"
        (click)="openDrawer()" nzShape="circle" nzSize="large">
  <i nz-icon nzType="setting"></i>
</button>

<nz-drawer nzWidth="400px" [nzTitle]="teamName" [nzClosable]="false" [nzVisible]="drawerVisible" (nzOnClose)="closeDrawer()">
  <div class="showInfo">
    <nz-descriptions nzTitle="基本信息" nzColumn="1">
      <nz-descriptions-item nzTitle="创建时间">{{createdTime}}</nz-descriptions-item>
      <nz-descriptions-item nzTitle="团队管理员">{{creator}}</nz-descriptions-item>
    </nz-descriptions>
  </div>
  <div class="showMember">
    <nz-divider></nz-divider>
    <nz-table #headerTable [nzData]="members" [nzScroll]="{ y: '300px' }" [nzFrontPagination]="false">
      <thead>
      <tr>
        <th nzWidth="35%">成员</th>
        <th nzWidth="30%">身份</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of members, let i = index">
        <td>{{ data.uname }}</td>
        <td *ngIf="data.uname == creator">队长</td>
        <td *ngIf="data.uname != creator">成员</td>
        <td style="font-size: 12px;">
          <button nz-button *ngIf="data.uname != creator" [disabled]="userPower < 2" nzType="danger" (click)="removeMember(data.uid)">移除</button>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="inviteMember">
    <button nz-button nzType="primary" [disabled]="userPower < 2" (click)="addMember()">邀请成员</button>
  </div>
  <div class="generalSetting">
    <nz-divider></nz-divider>
    <button nz-button nzType="default" *ngIf="userPower == 2" nzDanger (click)="destroyTeam()">解散团队</button>
    <button nz-button nzType="default" *ngIf="userPower != 2" nzDanger (click)="quitTeam()">退出团队</button>
  </div>
</nz-drawer>


<nz-modal nzTitle="解散团队" [(nzVisible)]="modalControls.destroyTeam"
          (nzOnCancel)="closeModal()" [nzOkLoading]="modalControls.loading"
          (nzOnOk)="destroyTeamConfirm()">
  您是否确认要解散团队，解散后团队文档将无法恢复
</nz-modal>

<nz-modal nzTitle="添加成员" nzFooter="" [(nzVisible)]="modalControls.addMember"
          (nzOnCancel)="closeModal()" [nzOkLoading]="modalControls.loading"
          (nzOnOk)="invite()" nzOkText='邀请' [nzOkDisabled]="this.selected_list.length===0">
  <div class="outer">
    <div class="search">
      <nz-input-group nzSize="large">
        <input placeholder="请输入要邀请的用户名" nz-input [(ngModel)]="search_content" (ngModelChange)="search()" [nzAutocomplete]="auto" />
      </nz-input-group>
      <nz-autocomplete #auto>
        <nz-auto-option *ngFor="let o of res_users" [nzLabel]="o.username" [nzValue]="o.userid" (click)='select(o)'>
          {{ o.username }}
        </nz-auto-option>
      </nz-autocomplete>

      <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
        <nz-list-item *ngFor="let item of selected_list; let i = index">
          <nz-list-item-meta
            [nzAvatar]="item.avatar"
          >
            <nz-list-item-meta-title>
              <p (click)="openUserInfo(item.userid)">{{ item.username }}</p>
            </nz-list-item-meta-title>
          </nz-list-item-meta>
          <ul nz-list-item-actions>
          <nz-list-item-action><a (click)="remove(i)">移除</a></nz-list-item-action>
          </ul>
        </nz-list-item>
      </nz-list>
    </div>

    <nz-list nzItemLayout="horizontal" [nzLoading]="loading">
      <nz-list-item *ngFor="let item of selected_list">
        <nz-list-item-meta
          [nzAvatar]="item.avatar"
          nzDescription=""
        >
          <nz-list-item-meta-title>
            <a href="https://ng.ant.design">{{ item.username }}</a>
          </nz-list-item-meta-title>
        </nz-list-item-meta>
        <ul nz-list-item-actions>
          <nz-list-item-action><a (click)="remove(0)" style="text-decoration: underline;">移除</a></nz-list-item-action>
        </ul>
      </nz-list-item>
      <nz-list-empty *ngIf="selected_list.length === 0"></nz-list-empty>
    </nz-list>
  </div>
</nz-modal>

<nz-modal nzTitle="移除成员" [(nzVisible)]="modalControls.removeMember"
          (nzOnCancel)="closeModal()" [nzOkLoading]="modalControls.loading"
          (nzOnOk)="removeMemberConfirm()">
  你确定要将{{selectedUsername}}从团队中移除么？
</nz-modal>

<nz-modal nzTitle="退出团队" [(nzVisible)]="modalControls.quitTeam"
          (nzOnCancel)="closeModal()" [nzOkLoading]="modalControls.loading"
          (nzOnOk)="quitTeamConfirm()">
  你确定要退出团队么，你创建的团队文档也会一并删除
</nz-modal>

<!-- 团队成员的Modal -->
<!-- <nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="团队设置"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzOkLoading]="isOkLoading"
  [nzStyle]="{ top: '20px' }"
>
  <div class="showInfo">
      <nz-descriptions nzTitle="团队名称">
          <nz-descriptions-item nzTitle="创建时间">xxxx/xx/xx</nz-descriptions-item>
          <nz-descriptions-item nzTitle="创建者">XXXXX</nz-descriptions-item>
        </nz-descriptions>
  </div>
  <div class="showMember">
      <nz-divider></nz-divider>
      <nz-table #headerTable [nzData]="listOfData" [nzScroll]="{ y: '150px' }" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th nzWidth="70%">成员</th>
              <th nzWidth="30%">身份</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of headerTable.data">
              <td>{{ data.name }}</td>
              <td>{{ data.status }}</td>
            </tr>
          </tbody>
        </nz-table>
  </div>
  <div class="generalSetting">
      <nz-divider></nz-divider>
      <button nz-button nzType="default" nzDanger>退出团队</button>
  </div>
</nz-modal> -->
