.comButton {
    position: fixed;
    right: 40px;
    bottom: 40px;
    box-shadow: -5px 5px 3px #707070;
  }

  .selected {
    min-width: 100px;
    height: 100px;
}

.userinfo {
    min-width: 100px;
    height: 40px;
}

.avatar {
    height: 100%;
    min-width: 40px;
}

.username {
    height: 100%;
    min-width: 40px;
}

.control {
    height: 100%;
    min-width: 40px;
}

.footer {
    text-align: right;
}