<div class="outer">
    <nz-row>
      <nz-col nzSpan="16" style="height: 100px">
        文档标题： <input [(ngModel)]="title"/>
        <!-- <nz-list nzBordered nzHeader="所有模版" style="width: 280px; height: 200px">
          <nz-list-item *ngFor="let t of templates;let i = index">
            <a nz-typography (click)="chooseTemplate(i)">{{t.name}}</a>
          </nz-list-item>
        </nz-list> -->
        <div style="margin: 5px auto">
          选择模板：
          <div style="display: inline;">
            <nz-radio-group ngModel="A">
              <!-- (ngModelChange)	选中变化时回调 -->
              <label *ngFor="let t of templates;let i = index" nz-radio nzValue="{{t.name}}">{{t.name}}</label>
            </nz-radio-group>
          </div>
        </div>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-row>
          <div class="preview" style="width: 160px; height: 200px; background: black"></div>
        </nz-row>
        <nz-row>
          <button nz-button nzType="primary" (click)="create()" style="margin: 20px auto 0">创建</button>
        </nz-row>
      </nz-col>
    </nz-row>
</div>
