<div class="outer">
    <nz-row>
      <nz-col nzSpan="16" style="height: 100px">
        标题: <input [(ngModel)]="title"/>
        <nz-list nzBordered nzHeader="所有模版" style="width: 280px; height: 200px">
          <nz-list-item *ngFor="let t of templates;let i = index">
            <a nz-typography (click)="chooseTemplate(i)">{{t.name}}</a>
          </nz-list-item>
        </nz-list>
      </nz-col>
      <nz-col nzSpan="8">
        <nz-row>
          <div class="preview" style="width: 160px; height: 200px; background: black"></div>
        </nz-row>
        <nz-row>
          <button nz-button nzType="primary" (click)="create()">创建</button>
        </nz-row>
      </nz-col>
    </nz-row>
</div>
