.showinfo {
    margin: 120px auto;
    text-align: center;
}

.wordinfo {
    display: inline-block;
    background-color: #fff;
    box-shadow: -5px 5px 3px #707070;
}

.dynamic-delete-button {
    cursor: pointer;
    position: relative;
    top: 4px;
    font-size: 24px;
    color: #999;
    transition: all 0.3s;
  }

  .dynamic-delete-button:hover {
    color: #777;
  }

  .passenger-input {
    width: 60%;
    margin-right: 8px;
  }

  [nz-form] {
    max-width: 600px;
  }

  .add-button {
    width: 60%;
  }
