<button nzTooltipTitle="协作面板" nzTooltipPlacement="left" nz-button nz-tooltip class="powButton" nzType="default" (click)="openPowerDrawer()" nzShape="circle" nzSize="large">
  <i nz-icon nzType="setting"></i>
</button>
<nz-drawer [nzClosable]="false" [nzVisible]="powerBoardVisible" (nzOnClose)="closePowerDrawer()" nzTitle="协作设置" nzWidth="400px">
  <nz-collapse [nzBordered]=true nzAccordion>
    <nz-collapse-panel nzHeader="协作者" [nzActive]="true">
      <div class="content">
        <button class="add" nz-button nzType="dashed" (click)="addCorporation()">添加协作者</button>

        <nz-table #corporationTable [nzData]="corporations" [nzFrontPagination]="false">
          <thead>
            <tr>
              <th>头像</th>
              <th>用户名</th>
              <th>协作权限</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let p of corporations, let i = index">
              <td><nz-avatar nzSize="small" [nzSrc]="p.avatar" nzIcon="user"></nz-avatar></td>
              <td>{{p.username}}</td>
              <td>
                <nz-switch [nzLoading]="modalControls.loading" [nzDisabled]="userPower < 3"
                           [(ngModel)]="p.editable" nzCheckedChildren="可编辑" nzUnCheckedChildren="仅访问"
                           (click)="setCorporationEditable(i)" [nzControl]="true"></nz-switch>
              </td>
              <td><button [disabled]="userPower < 3" nz-button nzType="danger" (click)="removeCorporation(p.username)">移除</button></td>
            </tr>
          </tbody>
        </nz-table>

      </div>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="团队成员" *ngIf="isTeamDoc">
      <div class="content">
        <nz-table #teamMemberTable [nzData]="teamMembers" [nzFrontPagination]="false">
          <thead>
          <tr>
            <th>头像</th>
            <th>用户名</th>
            <th>协作权限</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of teamMembers, let i = index">
            <td><nz-avatar nzSize="small" [nzSrc]="p.avatar" nzIcon="user"></nz-avatar></td>
            <td>{{p.username}}</td>
            <td>
              <nz-switch [nzLoading]="modalControls.loading" [nzDisabled]="userPower < 3"
                         [(ngModel)]="p.editable" nzCheckedChildren="可编辑" nzUnCheckedChildren="仅访问"
                         (click)="setTeamMemberEditable(i)" [nzControl]="true"></nz-switch>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="管理员">
      <div class="content">
        <button class="add" nz-button nzType="dashed" (click)="addAdmin()">添加管理员</button>
        <nz-table #adminTable [nzData]="admins" [nzFrontPagination]="false">
          <thead>
          <tr>
            <th>头像</th>
            <th>用户名</th>
            <th>身份</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let p of adminTable.data">
            <td><nz-avatar nzSize="small" [nzSrc]="p.avatar" nzIcon="user"></nz-avatar></td>
            <td>{{p.username}}</td>
            <td>
              <div *ngIf="p.isCreator || p.isTeamLeader">所有者</div>
              <div *ngIf="!p.isCreator && !p.isTeamLeader">管理员</div>
            </td>
            <td>
              <button nz-button [disabled]="userPower < 4 || p.isCreator || p.isTeamLeader" nzType="danger" (click)="removeAdmin(p.username)">移除</button>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </div>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="共享设置">
      <div class="content">
        <div class="powerdiv">
          <p class="power">设置文档的分享属性</p>
          <nz-switch [(ngModel)]="publicShare" nzCheckedChildren="公开" nzUnCheckedChildren="私有"
                   [nzControl]="true" (click)="setSharePublic()"
                   [nzLoading]="modalControls.loading"></nz-switch>
        </div >
        <div class="powerdiv" *ngIf="publicShare">
          <p class="power">任何拥有分享链接的人都</p>
          <nz-switch [(ngModel)]="editableShare" nzCheckedChildren="可编辑" nzUnCheckedChildren="仅访问"
                     [nzControl]="true" (click)="setShareEditable()"
                     [nzLoading]="modalControls.loading"></nz-switch>
        </div>
      </div>
    </nz-collapse-panel>
    <!-- <nz-collapse-panel nzHeader="评论设置">
      <div class="content"></div>
    </nz-collapse-panel> -->
  </nz-collapse>
</nz-drawer>


<!--添加协作者-->
<nz-modal [(nzVisible)]="modalControls.addCorporation" nzTitle="添加协作者" [nzOkLoading]="modalControls.loading" [nzOkDisabled]="!searchResult" (nzOnCancel)="modalClose()" (nzOnOk)="addCorporationConfirm()">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input [(ngModel)]="selectedUsername" placeholder="请输入要邀请的用户名" />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
  </ng-template>
  <div *ngIf="searchResult" style="width: 100%; margin-top: 20px;">
    <span>即将添加：</span>
    <nz-row style="margin-top: 15px; margin-left: 15px;">
      <nz-col style="min-width: 50px;"><nz-avatar [nzSrc]="searchResult.avatar" (click)="openUserInfo(searchResult.userid)" nzIcon="user"></nz-avatar></nz-col>
      <nz-col>{{searchResult.username}}</nz-col>
    </nz-row>
  </div>
</nz-modal>

<!--添加管理员-->
<nz-modal [(nzVisible)]="modalControls.addAdmin" nzTitle="添加管理员" [nzOkLoading]="modalControls.loading" [nzOkDisabled]="!searchResult" (nzOnCancel)="modalClose()" (nzOnOk)="addAdminConfirm()">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" nz-input [(ngModel)]="selectedUsername" placeholder="请输入要邀请的用户名" />
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" nzSearch (click)="search()"><i nz-icon nzType="search"></i></button>
  </ng-template>
  <div *ngIf="searchResult" style="width: 100%; margin-top: 20px;">
    <span>即将添加：</span>
    <nz-row style="margin-top: 15px; margin-left: 15px;">
      <nz-col style="min-width: 50px;"><nz-avatar [nzSrc]="searchResult.avatar" (click)="openUserInfo(searchResult.userid)" nzIcon="user"></nz-avatar></nz-col>
      <nz-col>{{searchResult.username}}</nz-col>
    </nz-row>
  </div>
</nz-modal>

<!--移除协作者-->
<nz-modal [(nzVisible)]="modalControls.removeCorporation" nzTitle="移除协作者" [nzOkLoading]="modalControls.loading" (nzOnCancel)="modalClose()" (nzOnOk)="removeCorporationConfirm()">
  你确定要移除{{selectedUsername}}的协作者权限么
</nz-modal>

<!--移除管理员-->
<nz-modal [(nzVisible)]="modalControls.removeAdmin" nzTitle="移除管理员" [nzOkLoading]="modalControls.loading" (nzOnCancel)="modalClose()" (nzOnOk)="removeAdminConfirm()">
  你确定要移除{{selectedUsername}}的管理员权限么
  移除管理权限后，{{selectedUsername}}对该文档仍具有只读访问权限
</nz-modal>
