<div style="margin: 20px 40px 0;">
  <nz-breadcrumb>
    <nz-breadcrumb-item *ngFor="let item of breadcrumbService.items">
      <a [routerLink]="item.url">{{item.name}}</a>
    </nz-breadcrumb-item>
  </nz-breadcrumb>
</div>

<div style="margin: 0 40px;">
  <hr>
</div>

<div *ngIf="!loading.file && !loading.folder">
  <div style="margin: 0 20px;">
    <app-folder-item *ngFor="let folder of subFolders"
                     [folderId]="folder.id"
                     [folderName]="folder.name"
                     (notify)="onNotify()"></app-folder-item>
  </div>

  <div style="margin: 0 20px;">
    <app-doc-item *ngFor="let file of subFiles"
                  [fileId]="file.id" [fileName]="file.name"
                  [isTrash]="rootType==='trash'"
                  [isFavored]="file.starred"
                  (notify)="onNotify()"></app-doc-item>
  </div>

  <div class="no-list" *ngIf="subFiles.length==0 && subFolders.length==0">
    <img src="/assets/no-list.png" alt="">
    <p>空空如也</p>
  </div>
</div>

<div *ngIf="loading.file || loading.folder">
  <app-folder-loading></app-folder-loading>
</div>
