
<nz-header>
  <div class="logo" style="background-color: #404040;">
    <img class="logoimg" src="/assets/logo-white.png"/>
  </div>
  <div class="avatar" style="background-color: #404040;">
    <a>
      <nz-badge [nzCount]="5" style="margin:0 24px 0 10px;">
        <nz-avatar nzIcon="user" [nzShape]="'square'" [nzSize]="45" [nzSrc]="avatar"></nz-avatar>
      </nz-badge>
    </a>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" style="background-color: #404040;">
    <li nz-submenu [nzTitle]="username" nzIcon="caret-down" style="font-size: 16px;">
      <ul>
        <li nz-menu-item (click)="toMySpace()">个人信息</li>
        <li nz-menu-item (click)="showModal()">退出登录</li>
      </ul>
    </li>
  </ul>
  <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="退出登录"
        nzOkText="Ok"
        nzCancelText="Cancel"
        (nzOnOk)="logout()"
        (nzOnCancel)="handleCancel()"
      >
        <span>确认退出登录？</span>
      </nz-modal>
</nz-header>
