<nz-header>
  <div class="logo" style="background-color: #404040;">
    <a href="/dashboard/own">
      <img class="logoimg" src="/assets/logo-white.png"/>
    </a>
  </div>
  <div class="avatar" style="background-color: #404040;">
    <a routerLink="/messagebox">
      <nz-badge [nzCount]="unreadmsgnum" style="margin:0 24px 0 10px;">
        <nz-avatar (mouseenter)="freshMessageNum()" nzIcon="user" [nzShape]="'square'" [nzSize]="45" [nzSrc]="avatar"></nz-avatar>
      </nz-badge>
    </a>
  </div>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" style="background-color: #404040;">
    <li nz-submenu [nzTitle]="username" nzIcon="caret-down" style="font-size: 16px;">
      <ul>
        <li nz-menu-item nzMatchRouter><a routerLink="/userspace">个人信息</a></li>
        <li nz-menu-item nzMatchRouter (click)="showModal()">退出登录</li>
      </ul>
    </li>
  </ul>
  <nz-modal
        [(nzVisible)]="isVisible"
        nzTitle="退出登录"
        nzOkText="Ok"
        nzCancelText="Cancel"
        (nzOnOk)="logout()"
        (nzOnCancel)="handleCancel()"
      >
        <span>确认退出登录？</span>
      </nz-modal>
</nz-header>

<ng-template #template let-notification>
  <div class="ant-notification-notice-content">
    <div>
      <div class="ant-notification-notice-message">新消息</div>
      <div class="ant-notification-notice-description">
        {{message_content}}
      </div>
      <span class="ant-notification-notice-btn">
        <button nz-button nzType="primary" nzSize="small" (click)="navigate()">
          <span>前去查看</span>
        </button>
      </span>
    </div>
  </div>
</ng-template>